<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">

<h1><%= @horse.name %></h1>
<h3>Points By Show:</h3>

    <% @horse.prizes.each do |prize| %>
        <% show = Horseshow.find(prize.horseshow_id) %>
        <a href="/horseshows/<%= show.slug %>"><%= show.name %></a>: <%= prize.point_total %><br>
    <% end %>
<br>
    <button><a href="/horses/<%= @horse.slug %>/edit">Edit Horse</a></button>

    <form action="/horses/<%= @horse.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" id="submit-delete" value="remove horse">   
    </form>
</div>