<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">

<h1><%= @horse.name %></h1>

    <button><a href="/horses/<%= @horse.slug %>/edit">Edit Horse</a></button><br><br>

<strong>Point Total: </strong><%= @horse.point_total %><br>

<h3>Points By Horse Show:</h3>
    <table>
    <th>Date</th>
    <th>Horse Show</th>
    <th>Points</th>
    <% @horse.sort_horseshows_from_horses_list.each do |show| %>            
        <tr>
        <td><%= show.format_date %></td> 
        <td><a href="/horseshows/<%= show.id %>"><%= show.name %></a></td>  
        <td><%= show.prizes.find{|prize| prize.horse_id == @horse.id }.point_total %></td>
        </tr>
    <% end %>
    </table>
<br>
    
    <button><a href="/prizes">All Prizes</a></button>
    <button><a href="/prizes/new">Add Prize</a></button>

    <form action="/horses/<%= @horse.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" id="submit-delete" value="remove horse">   
    </form>
</div>