<% @user = Helper.current_user(session) %>
<h1>Welcome <%= @user.username %></h1>

<h2>All Horses</h2>
    <ul>
        <% @user.horses.each do |horse| %>
            <li><a href="/horses/<%= horse.slug %>"><%= horse.name %></a></li>
        <% end %>
    </ul>

<h2>Total Points By Horse</h2>
    <ul>
        <% @user.horses.each do |horse| %>
            <li><%= horse.name %>: <%= horse.point_total %></li>
        <% end %>
    </ul>

<h2>View Points By Horse Show</h2>
    <ul>
        <% @user.horseshows.uniq.each do |show| %>
            <li><a href="/horseshows/<%= show.slug %>"><%= show.name %></a></li>
        <% end %>
    </ul>

<button><a href="/horses/new">Add Horse</a></button>

<button><a href="/prizes/new">Add Prize</a></button><br>

<a href="/logout">Log Out</a>

