<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button> 
</nav>

<div class="display"><h1>Welcome <%= current_user.name %>!</h1>

<button><a href="/horses">All Horses</a></button>
<button><a href="/horses/new">Add Horse</a></button>

<h2>Horse Point Totals:</h2>
    <ul>
        <% current_user.sort_horses_by_points.each do |horse| %>
            <li><a href="/horses/<%= horse.slug %>"><%= horse.name %></a>: <%= horse.point_total %></li>
        <% end %>
    </ul>
    
    <button><a href="/prizes">All Prizes</a></button>
    <button><a href="/prizes/new">Add Prize</a></button>
    
<h2>Point Totals By Horse Show:</h2>
        <table>
        <% sort_horseshows_from_current_user.each do |show| %>
            <tr>
            <td><%= show.format_date %></td>
            <td><a href="/horseshows/<%= show.id %>"><%= show.name %></a></td>
            <td><%= current_user.point_total_by_horseshow(show.id) %></td>
            </tr>
        <% end %>
        </table>
        <br>

    <button><a href="/horseshows">All Horseshows</a></button><br>

</div>



