<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button> 
</nav>

<div class="display"><h1>Welcome <%= current_user.name %>!</h1>

<h2>All Horses:</h2>
    
        <% current_user.horses.each do |horse| %>
            <a href="/horses/<%= horse.slug %>"><%= horse.name %></a><br>
        <% end %>
    

    <button><a href="/horses/new">Add Horse</a></button>

<h2>Total Points By Horse:</h2>
    
        <% current_user.horses.each do |horse| %>
            <%= horse.name %>: <%= horse.point_total %><br>
        <% end %>
    

<h2>View Points By Horse Show:</h2>
    
        <% current_user.horseshows.uniq.each do |show| %>
            <a href="/horseshows/<%= show.id %>"><%= show.name %></a><br>
        <% end %>

    <button><a href="/prizes">All Prizes</a></button>

    <button><a href="/prizes/new">Add Prize</a></button>
</div>



