<div class="display">
    <h1>All Prizes</h1>
        <% sort_horseshows_from_current_user.each do |horseshow| %> 
            <h3><%= horseshow.format_date %>: <%= horseshow.name %></h3>
                <table>
                <th>Horse</th>
                <th>Points</th>
                <th>Prize Page</th>
                    <% prizes = Prize.where("horseshow_id = ? AND user_id = ?", horseshow.id, current_user.id )%>
                    <% prizes.each do |prize| %>
                        <tr>
                            <% horse = Horse.find_by(id: prize.horse_id) %>
                            <td><a href="<%= horse.slug %>"><%= horse.name %></a></td>
                            <td><%= prize.point_total %></td>
                            <td><a href="/prizes/<%= prize.id %>">Edit/Remove</a></td>
                        </tr>
                    <%end%>
                </table>
        <% end %>
    <br>
    <button><a href="/prizes/new">Add Prize</a></button><br>
</div>