<div class="display">
<% if @errors.nil? %>
<% @errors = {} %>
<% end %>
<h1>Add Prize</h1>
    <% if !!@duplicate_error %>
        <p style="color: red; font-size: 12px;"><%= @duplicate_error %></p>
    <% end %>
<form action="/prizes" method="post">
    <h3>Horse</h3>
    <% if !!@errors[:horse] %>
        <div id="error">
            <%= @errors[:horse] %>
        </div>
    <% end %>
        <% current_user.horses.each do |horse| %>
            <%= horse.name %><input id="<%= horse.name %>" type="radio" name="horse_id" value="<%= horse.id %>"><br>
        <% end %>
        <br>
    <button><a href="/horses/new">Add Horse</a></button>

    <h3>Horse Show: </h3>
        <table>
        <% sort_horseshows_from_current_user.each do |show| %>
        <tr>
            <td><%= show.format_date %></td>
            <td><%= show.name %></td>
            <td><input id="<%= show.name %>" type="radio" name="horseshow_id" value="<%= show.id %>"></td>
        </tr>
        <% end %>
        </table>
    <br>
    <h4>Add Show</h4>
    
    <label>Name: </label><br>
    <% if !!@errors[:horseshow_name] %>
        <div id="error">
            <%= @errors[:horseshow_name] %>
        </div>
    <% end %>
        <input type="text" name="horseshow[name]" id="horseshow_name"><br>
    
    <label>Date: </label><br>
    <% if !!@errors[:date] %>
        <div id="error">
            <%= @errors[:date] %>
        </div>
    <% end %>
        <input type="date" name="horseshow[date]" id="horseshow_date"><br>
    
    <label>Location: </label><br>
    <% if !!@errors[:location] %>
        <div id="error">
            <%= @errors[:location] %>
        </div>
    <% end %>
        <input type="text" name="horseshow[location]" id="horseshow_location"><br>

    <h3>Add Points: </h3>
    <% if !!@errors[:points] %>
        <div id="error">
            <%= @errors[:points] %>
        </div>
    <% end %>
        <input type="text" name="prize[point_total]" id="point_total"><br>
    
    <input type="submit" id="submit" value="Add Prize">
</form>
</div>