<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">
<h1>Add Prize</h1>

<form action="/prizes" method="post">
    <h3>Horse</h3>
        <% current_user.horses.each do |horse| %>
            <%= horse.name %><input id="<%= horse.name %>" type="checkbox" name="horse_id" value="<%= horse.id %>"><br>
        <% end %>

    <h3>Horse Show: </h3>

        <% current_user.horseshows.uniq.each do |show| %>
            <%= show.name %><input id="<%= show.name %>" type="checkbox" name="horseshow[id]" value="<%= show.id %>"><br>
        <% end %>
    <br>
    <label>Name: </label><br>
        <input type="text" name="horseshow[name]" id="horseshow_name"><br>
    <label>Date: </label><br>
        <input type="date" name="horseshow[date]" id="horseshow_date" placeholder="mm/dd/yy"><br>
    <label>Location: </label><br>
        <input type="text" name="horseshow[location]" id="horseshow_location"><br>

    <h3>Add Points: </h3>
        <input type="text" name="point_total" id="points_value"><br>
    
    <input type="submit" id="submit" value="Add Prize">
</form>
</div>