<div class="display">
    <% if @prize.user_id != current_user.id %><h3>You do not have access to this listing.</h3>
    <% else %>
    <% horse = Horse.find_by(id: @prize.horse_id) %>
    <br>
    <strong>Horse: </strong><a href="/horses/<%= horse.slug %>"><%= horse.name %></a><br><br>
    
    <% horseshow = Horseshow.find_by(id: @prize.horseshow_id) %> 

    <strong>Horseshow: </strong><a href="/horseshows/<%= horseshow.id %>"><%= horseshow.name %></a><br>
    <strong>Date: </strong><%= horseshow.format_date %><br>
    <strong>Location: </strong><%= horseshow.location %><br><br>

    <strong>Point Total: </strong><%= @prize.point_total %><br>
    <button><a href="/prizes/<%= @prize.id %>/edit">Edit</a></button>

    <form action="/prizes/<%= @prize.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" id="submit-delete" value="remove">   
    </form>
    <% end %>
</div>
