<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">
    <br>
    <% horse = Horse.find_by(id: @prize.horse_id) %>
    
    <strong>Horse: </strong><a href="/horses/<%= horse.slug %>"><%= horse.name %></a><br><br>
    
    <% horseshow = Horseshow.find_by(id: @prize.horseshow_id) %> 

    <strong>Horseshow: </strong><a href="/horseshows/<%= horseshow.slug %>"><%= horseshow.name %></a><br>
    <strong>Date: </strong><%= horseshow.date %><br>
    <strong>Location: </strong><%= horseshow.location %><br><br>

    <strong>Point Total: </strong><%= @prize.point_total %><br>
    <button><a href="/prizes/<%= @prize.id %>/edit">Edit</a></button>

    <form action="/prizes/<%= @prize.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" id="submit-delete" value="remove">   
    </form>
</div>