<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">
    <h1><%= @horseshow.name %></h1>
    <%= @horseshow.format_date %><br>
    Location: <%= @horseshow.location %>
<br>
<br>
<h3>Points By Horse:</h3>
    <table>
    <th>Horse</th>
    <th>Point Total</th>
    <% @horseshow.sort_by_points.map do |prize| %>
        <tr>
        <% horse = Horse.find_by(id: prize.horse_id) %>
        <td><a href="/horses/<%= horse.slug %>"><%= horse.name %></a></td> 
        <td><%= horse.point_total_by_horseshow(@horseshow.id) %></td>
        </tr>
    <% end %>
    </table>
    <br><br>
</div>

