<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">
    <h1><%= @horseshow.name %></h1>
    Location: <%= @horseshow.location %>
<br>
<br>
<h3>Points By Horse:</h3>
    <% @horseshow.horses.each do |horse| %>
        <a href="/horses/<%= horse.slug %>"><%= horse.name %></a>: <%= horse.point_total_by_horseshow(@horseshow.id)%><br>
    <% end %>
    <br>
</div>

